<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <title>Вход — Горыныч</title>
    <link rel="icon" type="image/png" href="{% static 'img/gor1.png' %}">

</head>

<body>
<div class="auth-page">
<div class="auth-container">

    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}

    <h1>Вход</h1>

    <div class="auth-form">
        <form action="" method="POST">
            {% csrf_token %}

            {{ form.as_p }}

            <button class="auth-button" type="submit">
                Войти
            </button>
        </form>
    </div>

    <p class="register-text">
        Нет аккаунта?
    </p>

    <a class="secondary-button" href="{% url 'register' %}">
        Регистрация
    </a>

</div>
</div>

</body>
</html>